* {
  box-sizing: border-box;
}
a, p, h1, h2, h3, h4, h5 {
  font-family: 'Alegreya Sans', sans-serif;
}
h5 {
  font-size: 1.7em;
}
#site_wrapper {
  margin-top: 4em;
  padding: 0 7px;
}
/*mobile & default styles */

#headline {
  font-weight: 700;
}
#header-text {
  margin-left: 15px;
  font-weight: 600;
}
#nav-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #748EB2;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  color: white;
}
#nav-container a {
  color: white;
}
#nav-container a:hover {
  color: #314765;
}
.nav li{
  background-color: rgba( 111,111,111,.1);
  display: inline-block;
}
#about_section p, a {
  font-size: 1.3em;
}
.section-wrapper {
  height: 100%;
  width: 100%;
  margin: 1em auto;
}
.site p, a {
  font-size: 1em;
}
.card_wrapper {
  display: flex;
  justify-content: space-around;;
  flex-wrap: wrap;
}
/* tablet, desktop, etc styles */
/*@media all and (min-width: 1100px) {
  #portfolio-section {
    float: right;
  }
}*/
@media all and (min-width: 400px) {
#portfolio-section {
  /*float: right;*/
}
.site-card {
  /*min-height: 100%;*/
  max-width: 17em;
  /*max-height: 280px;*/
  max-height: 95%;
  background-color: rgba(255, 112, 113, .3);
}

.site {
  display: inline-block;
  margin: 0 6px;
  background-color: rgba( 111,111,111,.1);
  flex-basis: 10em;
}
.site_description {

}
#site_one {
  background-color: #FFFBFB;
}
#site_two {
  background-color: #D0E3FF;
}
#site_three {
  background-color: #C4CCA9;
}


}
